1_terraform_gcp/.terraform
1_terraform_gcp/.terraform-version
1_terraform_gcp/terraform.tfstate
1_terraform_gcp/.terraform.lock.hcl




# Default .gitignore content added by dbt Cloud
target/
dbt_packages/
logs/
# end dbt Cloud content
